# ***1. How to find the version***

In [1]:
import pandas as pd
pd.__version__

'2.1.1'

In [4]:
# another way
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.11.6.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United States.1252

pandas              : 2.1.1
numpy               : 1.26.1
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 24.2
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : 3.1.4
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : 4.12.3
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : 3.8.0
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

# ***2. Make a dataframe***

## ***Dataframe:***
 > - dataframe is a two dimensional data structure.
 > - It contains ***rows and columns***.
 > - dataframe is **created by using dictionary**.
## ***Dictionary:***
> - dictionary is a ***key-value pair***.
> - dictionary is created by using **curly braces { }**.
> - dictionary is created by using ***key and value***.\
>       1. " ***key*** " means column name\
>       2. " ***value*** " means column data.

In [5]:
df = pd.DataFrame({'Index' : [1, 2, 3, 4, 5], 'Name' : ['John', 'Paul', 'George', 'Ringo', 'Pete'], 'Marks' : [60, 70, 80, 90, 100]})
df

   Index    Name  Marks
0      1    John     60
1      2    Paul     70
2      3  George     80
3      4   Ringo     90
4      5    Pete    100

# ***3. Make dataframe using numpy***

make a dataframe using numpy
> - import numpy as np
> - numpy used to make a dataframe by using array
> - array is used to make a dataframe
> -